# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site navigation

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji

# 3. Gem settings
paginate: 5 # jekyll-paginate > items per page
paginate_path: blog/page:num # jekyll-paginate > blog page
jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
twitter:
  username: zivhsiao # jekyll-seo-tag > Owners twitter username
author: zivhsiao # jekyll-seo-tag > default author
social: # jekyll-seo-tag > social overrides
  name: David Darnes # jekyll-seo-tag > real name
  links:  # jekyll-seo-tag > social aliases (sameAs)
    - https://twitter.com/zivhsiao
    - https://www.facebook.com/patrick.her99
    - https://www.linkedin.com/in/patrick-her
    - https://twitter.com/zivhsiao
# markdown: CommonMark # Markdown parse settings, CommonMark performs slightly better an others in build time
# commonmark:
  # options: ["SMART", "FOOTNOTES"]
  # extensions: ["strikethrough", "autolink", "table"]

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: Asia/Taipei # Timezone for blog posts and alike

# 5. Collections
collections:
  posts:
    title: 發表的文章 # Needed for Siteleaf
    output: true
    description: "我們的創意與想法都在這裏" # The post list page content
    feature_text: |
      歡迎來到我們的部落格/Blog
    feature_image: "https://picsum.photos/2560/600?image=866"

# 6. Jekyll collections settings
defaults:
  -
    scope:
      path: ""
    values:
      image: "https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/thomas-martinsen-2443-unsplash.jpg" # Default image for sharing

# 7. Site settings
encoding: utf-8 # Make sure the encoding is right
lang: zh-TW # Set the site language
title: "立川工作室" # Site name or title, also used in jekyll-seo-tag
logo: "https://avatars2.githubusercontent.com/u/1700557" # Site logo, also used in jekyll-seo-tag
description: "立川工作室專注於網站、網頁空間的相關資訊。網站剛剛起步，卻沒有資訊相關人員？或者你不知道如何架一個網站？我們都可以幫助你架設網站。" # Site description and default description, also used in jekyll-seo-tag
url: "https://www.prgpress.com" # Site url, also used in jekyll-seo-tag
baseurl: ""
repo: "https://github.com/zivhsiao/zivhsiao.github.io"
email: "jenfu.developer@gmail.com"
disqus: "li-chuan-gong-zuo-shi" # Blog post comments, uncomment the option and set the site ID from your Disqus account
avatarurl: "https://avatars2.githubusercontent.com/u/1700557" # Uses avatars for favicons to get multple sites, eg Gravatar, Twitter, GitHub
google_analytics: 'UA-136767767-1'
# service_worker: false # Will turn off the service worker if set to false
css_inline: true # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# 8. Site navigation
navigation_header:
  首頁: /
  部落格: /blog/
  分類: /categories/
  聯絡我們: /contacts/
  搜尋: /search/
  # Fork Alembic: https://github.com/daviddarnes/alembic

navigation_footer:
  Created by 立川工作室: https://www.prgpress.com

social_links: # appears in sidebar. set the urls then uncomment and comment out as desired
  twitter: https://twitter.com/zivhsiao
  linkedin: https://www.linkedin.com/in/patrick-her
  github: https://github.com/zivhsiao
  rss: /feed.xml

# sharing_links: # appear at the bottom of single blog posts, uncomment and comment out as desired. colours set the button colour
  # twitter: "#0d94e7"
  # facebook: "#3b5998"
  # google+: "#dc4e41"
  # pinterest: "#bd081c"
  # linkedin: "#0077b5"
  # tumblr: "#36465d"
  # reddit: "#ff4500"
  # hacker news: "#ff6600"
  # designer news: "#2d72d9"
  # email: ""
