<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; 新的</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; 新的</span>
  {% endif %}

  <span class="pagination  pagination--counter">現在第 {{ paginator.page }} 頁 / 共 {{ paginator.total_pages }} 頁</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">舊的 &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">舊的 &rarr;</span>
  {% endif %}

</nav>
